@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins&display=swap');

.test{
    box-shadow: inset 0 0 4rem black;
    color:white;
}

.text-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-color: rgb(231,36,60); */
}

.text-card__main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3.5rem 0.8rem;
    min-height: 30rem;
    /* color: rgba(255, 255, 255, 0.6); */
    color: rgba(255, 255, 255, 1);
    font-family: 'Caveat';
    font-weight: 600;
    font-size: 3.5rem;
}

.text-card__main-text h2{
    vertical-align: middle;

}

.text-card__main-text span{
    color: white;
}

.text-card__btn-group{
    font-family: Poppins;
    font-weight: 700;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-card_inf-btn{
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.5rem 2.5rem;
    border-radius: 9999px;
    z-index: 10;
}

.text-card__story{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-card__story div{
    margin: 0 0.1rem;
    height: 0.5rem;
    width: 4rem;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 1rem;
}

.text-card__slide-btn{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-card__left-btn{
    background-color: rgba(255,255,255,0);
    z-index: 10;
    flex: 1;
    height: 55vh;
}
.text-card__right-btn{
    background-color: rgba(255,255,255,0);
    z-index: 10;
    flex: 1;
    height: 55vh;
}

.text-card_inf-btn.close{
    margin-top: 1rem;
    border: none;
}